<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <header>
            <h1>About Me</h1>
        </header>
        <nav>
            <a href="home.html" class="active">Home</a>
            <a href="artikel.html">Artikel</a>
            <a href="about.html">About</a>
            <a href="contact.html">Kontak</a>
         </nav>
        <section id="about">
            <div class="row">
                <img src="pp.jpeg" title="Risyadbima" alt="Risyadbima" class="image" width="150" style="float: left; border: 2px solid black;">
                <h1>Risyad Bima Nugraha</h1>
                <p>Nama saya Risyad Bima Nugraha,Saya Adalah Mahasiswa Teknik Informatika di <strong>Universitas Pelita Bangsa</strong> 
                Kelas : T121B1
                Tempat Tinggal Saya Di Kabupaten Bekasi Kecamatan Karang Bahagia Desa Sukaraya
                </p>
            </div>
        <footer>
            <p>&copy; 2021 - Universitas Pelita Bangsa</p>
        </footer>
    </div>
</body>
</html>